# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.tmp
*.userprefs
.vs/
.vscode/
*.swp
*.*~
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# MSBuild Binary and Structured Log
*.binlog

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser

# Logs
logs/
*.log

# Sensitive configuration
appsettings.*.json
appsettings.Development.json
*.pfx
*.key